[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
black = "*"
isort = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
black = "python -m black ."
isort = "python -m isort ."
tests = "python -m pytest tests/"
failed-tests = "python -m pytest --last-failted tests/"
